# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
attrs==21.4.0
blas==1.0
bokeh==2.4.2
bzip2==1.0.8
ca-certificates==2021.10.8
certifi==2021.10.8
cfitsio==3.470
charset-normalizer==2.0.12
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
curl==7.83.0
cycler==0.11.0
expat==2.4.8
fiona==1.8.21
fonttools==4.33.3
freexl==1.0.6
gdal==3.4.1
geopandas==0.10.2
geos==3.8.0
geotiff==1.7.0
hdf4==4.2.13
hdf5==1.10.6
idna==3.3
intel-openmp==2021.4.0
jbig==2.1
jinja2==3.1.2
jpeg==9e
kealib==1.4.14
kiwisolver==1.4.2
krb5==1.19.3
lerc==3.0
libcurl==7.83.0
libdeflate==1.10
libgdal==3.4.1
libiconv==1.16
libnetcdf==4.8.1
libpng==1.6.37
libpq==12.9
libspatialite==4.3.0a
libssh2==1.10.0
libtiff==4.3.0
libxml2==2.9.14
libzip==1.8.0
libzlib==1.2.11
lz4-c==1.9.3
m2w64-expat==2.1.1
m2w64-gcc-libgfortran==5.3.0
m2w64-gcc-libs==5.3.0
m2w64-gcc-libs-core==5.3.0
m2w64-gettext==0.19.7
m2w64-gmp==6.1.0
m2w64-libiconv==1.14
m2w64-libwinpthread-git==5.0.0.4634.697f757
m2w64-xz==5.2.2
markupsafe==2.1.1
matplotlib==3.5.2
mkl==2021.4.0
mkl-service==2.4.0
mkl_fft==1.3.1
mkl_random==1.2.2
mpu==0.23.1
msys2-conda-epoch==20160418
munch==2.5.0
networkx==2.8
numpy==1.21.5
numpy-base==1.21.5
openjpeg==2.4.0
openssl==1.1.1o
osmnx==1.1.2
packaging==21.3
pandas==1.4.2
pillow==9.1.0
pip==21.2.4
proj==6.2.1
pyparsing==3.0.8
pyproj==3.3.1
python==3.9.0
python-dateutil==2.8.2
pytz==2022.1
pyyaml==6.0
requests==2.27.1
rtree==1.0.0
scipy==1.8.0
setuptools==61.2.0
shapely==1.7.1
six==1.16.0
sqlite==3.38.3
tiledb==2.7.2
tornado==6.1
typing-extensions==4.2.0
tzdata==2022a
urllib3==1.26.9
vc==14.2
vs2015_runtime==14.27.29016
wheel==0.37.1
wincertstore==0.2
xerces-c==3.2.3
xz==5.2.5
zlib==1.2.11
zstd==1.5.2
